ul {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  ul li {
    list-style: none;
    margin: 0 15px;
  }
  
  ul li a {
    position: relative; 
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
  }
  
  ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #03a9f4;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
  ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #03a9f4;
  }
  
  ul li a:hover {
    color: #03a9f4;
    box-shadow: 0 0 5px #03a9f4;
    text-shadow: 0 0 5px #03a9f4;
  }ul {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  ul li {
    list-style: none;
    margin: 0 15px;
  }
  
  ul li a {
    position: relative; 
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
  }
  
  ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #03a9f4;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
  ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #03a9f4;
  }
  
  ul li a:hover {
    color: #03a9f4;
    box-shadow: 0 0 5px #03a9f4;
    text-shadow: 0 0 5px #03a9f4;
  }ul {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  ul li {
    list-style: none;
    margin: 0 15px;
  }
  
  ul li a {
    position: relative; 
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
  }
  
  ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #03a9f4;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
  ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #03a9f4;
  }
  
  ul li a:hover {
    color: #03a9f4;
    box-shadow: 0 0 5px #03a9f4;
    text-shadow: 0 0 5px #03a9f4;
  }